{% extends 'shipment_management_template.html' %} {% block inner_content %}
<div class="flex flex-col">
  <!-- Header Section (non-scrollable) -->
  <h1 class="mb-1 mt-3 px-5 text-2xl font-extrabold">Shipment Booking Form</h1>
  <!-- Display Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
  %}
  <div class="flash-message m-5">
    {% for category, message in messages %}{% if category == "danger" %}
    <span class="text-red-600">{{message}}</span>
    {% endif %} {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <!-- Form Wrapper: Takes remaining screen height, scrollable content -->
  <div class="flex-grow overflow-y-auto px-5 pb-10">
    <form method="post" class="px-5" novalidate>
      <!-- CSRF protection token -->
      {{ form.hidden_tag() }}
      <!-- Shipment Details Section -->
      <fieldset>
        <div
          class="flex cursor-pointer items-center justify-between rounded-lg border-2 px-5 py-1"
          onclick="toggleAccordion(event)"
        >
          <legend class="my-3 font-bold">Shipment Details</legend>
          <div>
            <img
              width="20"
              src="{{url_for('static', filename='icons/caret-down.png')}}"
              alt=""
            />
          </div>
        </div>
        <div class="booking-form rounded-lg border-2">
          <div class="form-group">
            {{ form.shipping_company.label(class="form-label")
            }} {{ form.shipping_company(class="form-control")
            }} {% for error in form.shipping_company.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.sender_name.label(class="form-label") }} {{
            form.sender_name(class="form-control") }} {% for
            error in form.sender_name.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.sender_address.label(class="form-label") }}
            {{ form.sender_address(class="form-control") }} {%
            for error in form.sender_address.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.consignee.label(class="form-label") }} {{
            form.consignee(class="form-control") }} {% for
            error in form.consignee.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.consignee_address.label(class="form-label")
            }} {{ form.consignee_address(class="form-control")
            }} {% for error in form.consignee_address.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.package_type.label(class="form-label") }}
            {{ form.package_type(class="form-control") }} {%
            for error in form.package_type.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.weight.label(class="form-label") }} {{
            form.weight(class="form-control") }} {% for error
            in form.weight.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.dimensions.label(class="form-label") }} {{
            form.dimensions(class="form-control") }} {% for
            error in form.dimensions.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.shipping_date.label(class="form-label") }}
            {{ form.shipping_date(class="form-control") }} {%
            for error in form.shipping_date.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.delivery_date.label(class="form-label") }}
            {{ form.delivery_date(class="form-control") }} {%
            for error in form.delivery_date.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.shipping_method.label(class="form-label")
            }} {{ form.shipping_method(class="form-control") }}
            {% for error in form.shipping_method.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.insurance.label(class="form-label") }}
            <div class="form-control flex items-center gap-5">
              {{ form.insurance(class="form-control") }} {% for
              error in form.insurance.errors %}
              <span style="color: red"> {{ error }} </span>
              {% endfor %}
              <p>Is Insured?</p>
            </div>
          </div>
          <div class="form-group">
            {{ form.declared_value.label(class="form-label") }}
            {{ form.declared_value(class="form-control") }} {%
            for error in form.declared_value.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{
            form.special_instructions.label(class="form-label")
            }} {{
            form.special_instructions(class="form-control") }}
            {% for error in form.special_instructions.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.bill_of_lading.label(class="form-label") }}
            {{ form.bill_of_lading(class="form-control") }} {%
            for error in form.bill_of_lading.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.carting_point.label(class="form-label") }}
            {{ form.carting_point(class="form-control") }} {%
            for error in form.carting_point.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.cbm.label(class="form-label") }} {{
            form.cbm(class="form-control") }} {% for error in
            form.cbm.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.cha.label(class="form-label") }} {{
            form.cha(class="form-control") }} {% for error in
            form.cha.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.clearance_place.label(class="form-label")
            }} {{ form.clearance_place(class="form-control") }}
            {% for error in form.clearance_place.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.co_loader.label(class="form-label") }} {{
            form.co_loader(class="form-control") }} {% for
            error in form.co_loader.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{
            form.container_stuffing.label(class="form-label")
            }} {{ form.container_stuffing(class="form-control")
            }} {% for error in form.container_stuffing.errors
            %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{
            form.file_reference_number.label(class="form-label")
            }} {{
            form.file_reference_number(class="form-control") }}
            {% for error in form.file_reference_number.errors
            %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.forwarder.label(class="form-label") }} {{
            form.forwarder(class="form-control") }} {% for
            error in form.forwarder.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.fpod.label(class="form-label") }} {{
            form.fpod(class="form-control") }} {% for error in
            form.fpod.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.gross_weight.label(class="form-label") }}
            {{ form.gross_weight(class="form-control") }} {%
            for error in form.gross_weight.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.invoice_currency.label(class="form-label")
            }} {{ form.invoice_currency(class="form-control")
            }} {% for error in form.invoice_currency.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{
            form.invoice_currency_value.label(class="form-label")
            }} {{
            form.invoice_currency_value(class="form-control")
            }} {% for error in
            form.invoice_currency_value.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.invoice_type.label(class="form-label") }}
            {{ form.invoice_type(class="form-control") }} {%
            for error in form.invoice_type.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.item_description.label(class="form-label")
            }} {{ form.item_description(class="form-control")
            }} {% for error in form.item_description.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.job_type.label(class="form-label") }} {{
            form.job_type(class="form-control") }} {% for error
            in form.job_type.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{
            form.nature_of_contract.label(class="form-label")
            }} {{ form.nature_of_contract(class="form-control")
            }} {% for error in form.nature_of_contract.errors
            %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.nature_of_payment.label(class="form-label")
            }} {{ form.nature_of_payment(class="form-control")
            }} {% for error in form.nature_of_payment.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.net_weight.label(class="form-label") }} {{
            form.net_weight(class="form-control") }} {% for
            error in form.net_weight.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{
            form.number_of_packages.label(class="form-label")
            }} {{ form.number_of_packages(class="form-control")
            }} {% for error in form.number_of_packages.errors
            %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{
            form.operation_handle_by.label(class="form-label")
            }} {{
            form.operation_handle_by(class="form-control") }}
            {% for error in form.operation_handle_by.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.plan_date.label(class="form-label") }} {{
            form.plan_date(class="form-control") }} {% for
            error in form.plan_date.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.pod.label(class="form-label") }} {{
            form.pod(class="form-control") }} {% for error in
            form.pod.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.pol.label(class="form-label") }} {{
            form.pol(class="form-control") }} {% for error in
            form.pol.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.por.label(class="form-label") }} {{
            form.por(class="form-control") }} {% for error in
            form.por.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.remarks.label(class="form-label") }} {{
            form.remarks(class="form-control") }} {% for error
            in form.remarks.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.sales_person_name.label(class="form-label")
            }} {{ form.sales_person_name(class="form-control")
            }} {% for error in form.sales_person_name.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.select_job.label(class="form-label") }} {{
            form.select_job(class="form-control") }} {% for
            error in form.select_job.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.series.label(class="form-label") }} {{
            form.series(class="form-control") }} {% for error
            in form.series.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{
            form.shipper_or_exporter.label(class="form-label")
            }} {{
            form.shipper_or_exporter(class="form-control") }}
            {% for error in form.shipper_or_exporter.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.shipping_line.label(class="form-label") }}
            {{ form.shipping_line(class="form-control") }} {%
            for error in form.shipping_line.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.type_of_shipment.label(class="form-label")
            }} {{ form.type_of_shipment(class="form-control")
            }} {% for error in form.type_of_shipment.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.unit_type.label(class="form-label") }} {{
            form.unit_type(class="form-control") }} {% for
            error in form.unit_type.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.unit.label(class="form-label") }} {{
            form.unit(class="form-control") }} {% for error in
            form.unit.errors %}
            <span style="color: red"> {{ error }} </span>
            {% endfor %}
          </div>
        </div>
      </fieldset>
      <!-- Container Details Section -->
      <fieldset class="mt-3">
        <div
          class="flex cursor-pointer items-center justify-between rounded-lg border-2 px-5 py-1"
          onclick="toggleAccordion(event)"
        >
          <legend class="my-3 font-bold">Container Details</legend>
          <div>
            <img
              width="20"
              src="{{ url_for('static', filename='icons/caret-down.png') }}"
              alt=""
            />
          </div>
        </div>
        <div class="hidden rounded-lg border-2 p-3" id="container-details">
          <div class="container-forms">
            {% for container_details in form.containers %}
            <div class="container-form grid grid-cols-1 gap-3 md:grid-cols-3">
              <div class="container-form-group">
                {{ container_details.container_type.label }} {{
                container_details.container_type(class="form-control") }} {%
                for error in container_details.container_type.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.container_size.label }} {{
                container_details.container_size(class="form-control") }} {%
                for error in container_details.container_size.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.container_weight.label }} {{
                container_details.container_weight(class="form-control") }}{%
                for error in container_details.container_weight.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.max_gross_weight.label }} {{
                container_details.max_gross_weight(class="form-control") }}{%
                for error in container_details.max_gross_weight.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.container_seal_number.label }} {{
                container_details.container_seal_number(class="form-control")
                }}{% for error in
                container_details.container_seal_number.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.owner_or_operator_code.label }} {{
                container_details.owner_or_operator_code(class="form-control")
                }}{% for error in
                container_details.owner_or_operator_code.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.container_status.label }} {{
                container_details.container_status(class="form-control") }}{%
                for error in container_details.container_status.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.iso_code.label }} {{
                container_details.iso_code(class="form-control") }}{% for
                error in container_details.iso_code.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.container_condition.label }} {{
                container_details.container_condition(class="form-control")
                }}{% for error in
                container_details.container_condition.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.date_of_manufacture.label }} {{
                container_details.date_of_manufacture(class="form-control")
                }}{% for error in
                container_details.date_of_manufacture.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.last_date_inspection.label }} {{
                container_details.last_date_inspection(class="form-control")
                }}{% for error in
                container_details.last_date_inspection.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
              <div class="container-form-group">
                {{ container_details.cargo_type.label }} {{
                container_details.cargo_type(class="form-control") }}{% for
                error in container_details.cargo_type.errors %}
                <span style="color: red"> {{ error }} </span>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </fieldset>
      <!-- Submit Button -->
      <button type="submit" class="button bg-green-600">Submit Shipment</button>
    </form>
  </div>
</div>
{% endblock %}
