{% extends 'base.html'%} {% block title %} login {% endblock %} {% block content
%}
<div
  class="from-ocean-blue to-ocean-green flex h-screen w-screen items-center justify-center bg-gradient-to-r from-10% via-sky-500 via-30% to-90%"
>
  <form
    method="post"
    class="flex flex-col items-center justify-center gap-5 border-2 border-black bg-white bg-opacity-25 p-5 shadow-lg md:p-20"
  >
    {{ form.hidden_tag() }}
    <div>
      <img
        width="100"
        src="{{url_for('static',filename='icons/profile.png')}}"
        alt=""
      />
    </div>
    <div
      class="flex h-10 items-center justify-center gap-5 bg-gray-100 bg-opacity-25 ps-2"
    >
      <div class="w-10">
        <img
          width="25"
          src="{{url_for('static',filename='icons/user.png')}}"
          alt=""
        />
      </div>
      {{form.username(class="form-control rounded-none border-none
      bg-transparent", placeholder="Username")}} {% for error in
      form.username.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div
      class="flex h-10 items-center justify-center gap-5 bg-gray-100 bg-opacity-25 ps-2"
    >
      <div class="w-10">
        <img
          width="25"
          src="{{url_for('static',filename='icons/padlock.png')}}"
          alt=""
        />
      </div>
      {{form.password(class="form-control rounded-none border-none
      bg-transparent", placeholder="Password")}} {% for error in
      form.password.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div
      class="flex w-[100%] items-center gap-5 bg-gray-100 bg-opacity-25 ps-5"
    >
      <label for="">Role</label>
      {{form.role(class="form-control w-full rounded-none border-none
      bg-transparent")}}
    </div>
    <div class="flex w-[100%] justify-end">
      <div>
        <a class="" href="{{url_for('auth.login')}}">Login</a>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flash-message m-5">
      {% for category, message in messages %} {% if category == "danger" %}
      <span class="text-red-600">{{message}}</span>
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% endwith %} {{form.submit(class='button bg-gradient-to-r
    from-teal-400 to-blue-500 hover:from-pink-500 hover:to-orange-500')}}
  </form>
</div>
{%endblock%}
