{% extends 'base.html' %} {% block title %}Shipment Management{% endblock %} {%
block content %}
<div class="flex h-screen flex-col bg-white p-5">
  <h1 class="hidden px-5 text-2xl font-bold md:block">Shipment Management</h1>

  <!-- Navigation for shipment management -->
  <div class="mb-4">{% include 'includes/shipment_management_nav.html' %}</div>

  <!-- Container for scrollable content -->
  <div class="flex-1 overflow-y-auto">
    {% block inner_content %} {% endblock %}
  </div>
</div>
{% endblock %}
