<div class="menu-bar">
  <div class="menu-item">
    User Management
    <div class="submenu">
      <div class="submenu-item">User Registration and Authentication</div>
      <div class="submenu-item">Role-Based Access Control</div>
      <div class="submenu-item">Profile Management</div>
      <div class="submenu-item">User Activity Logs</div>
    </div>
  </div>
  <div class="menu-item">
    Order Management
    <div class="submenu">
      <div class="submenu-item">Creation and Tracking</div>
      <div class="submenu-item">Status Updates</div>
      <div class="submenu-item">History and Archiving</div>
      <div class="submenu-item">Documentation Management</div>
    </div>
  </div>
  <div class="menu-item">
    Shipment Management
    <div class="submenu">
      <div class="submenu-item">
        <a href="{{url_for('main.shipment')}}">New Booking</a>
      </div>
      <div class="submenu-item">Tracking and Tracing</div>
      <div class="submenu-item">Route Optimization</div>
      <div class="submenu-item">Status updates</div>
      <div class="submenu-item">Document Management</div>
    </div>
  </div>
  <div class="menu-item">
    Inventory Management
    <div class="submenu">
      <div class="submenu-item">Warehouse Management</div>
      <div class="submenu-item">Stock Tracing</div>
      <div class="submenu-item">Inventory Reports</div>
      <div class="submenu-item">Reorder Alerts</div>
    </div>
  </div>
  <div class="menu-item">
    Support
    <div class="submenu">
      <div class="submenu-item">Ticketing System</div>
      <div class="submenu-item">Knowledge Base</div>
      <div class="submenu-item">Live Chat Support</div>
      <div class="submenu-item">Feedback and Reviews</div>
    </div>
  </div>
  <div class="menu-item">
    HR
    <div class="submenu">
      <div class="submenu-item">Employee Onboarding and Offboarding</div>
      <div class="submenu-item">Employee Profiles and Records</div>
      <div class="submenu-item">Time and Attendance tracking</div>
      <div class="submenu-item">Payroll Management</div>
      <div class="submenu-item">Performance Management</div>
      <div class="submenu-item">Leave Management</div>
      <div class="submenu-item">Training and Development</div>
      <div class="submenu-item">Employee Self-Service Portal</div>
      <div class="submenu-item">HR Analytics and Reporting</div>
    </div>
  </div>
  <div class="menu-item">
    Finance Management
    <div class="submenu">
      <div class="submenu-item">Invoicing and Billing</div>
      <div class="submenu-item">Payment and Processing</div>
      <div class="submenu-item">Financial Reporting and Analytics</div>
      <div class="submenu-item">Account Management</div>
      <div class="submenu-item">Currency Conversion</div>
    </div>
  </div>
  <div class="menu-item">
    Communications Management
    <div class="submenu">
      <div class="submenu-item">Internal Messaging System</div>
      <div class="submenu-item">Email Notifications</div>
      <div class="submenu-item">SMS Alerts</div>
      <div class="submenu-item">Chat Support</div>
    </div>
  </div>
  <div class="menu-item">
    Reporting Management
    <div class="submenu">
      <div class="submenu-item">Dashboards</div>
      <div class="submenu-item">Customizable Reports</div>
      <div class="submenu-item">Data Export Options</div>
      <div class="submenu-item">KPI Tracking</div>
    </div>
  </div>
  <div class="menu-item">
    Compliance Management
    <div class="submenu">
      <div class="submenu-item">Regulatory Compliance Management</div>
      <div class="submenu-item">Data Encryption</div>
      <div class="submenu-item">Audit Trails</div>
      <div class="submenu-item">Access Controls</div>
    </div>
  </div>
  <div class="menu-item">
    Integration
    <div class="submenu">
      <div class="submenu-item">API Integration and Third-Party Systems</div>
      <div class="submenu-item">EDI</div>
      <div class="submenu-item">Partner Portals</div>
    </div>
  </div>
</div>
