<nav class="w-screen overflow-hidden bg-ocean-green p-8 text-sm">
  <ul class="flex justify-evenly">
    <li>
      <a
        href="{{url_for('main.shipment')}}"
        class="flex h-10 w-5 flex-col items-center justify-center text-center"
        ><img
          src="{{url_for('static', filename='icons/new-booking.png')}}"
          alt=""
        />
        <span>New Booking</span>
      </a>
    </li>
    <li>
      <a
        href=""
        class="flex h-10 w-5 flex-col items-center justify-center text-center"
        ><img
          src="{{url_for('static', filename='icons/tracking-and-tracing.png')}}"
          alt=""
        />
        <span>Tracking and Tracing</span>
      </a>
    </li>
    <li>
      <a
        href=""
        class="flex h-10 w-5 flex-col items-center justify-center text-center"
        ><img
          src="{{url_for('static', filename='icons/route-optimization.png')}}"
          alt=""
        />
        <span>Route Optimization</span>
      </a>
    </li>
    <li>
      <a
        href=""
        class="flex h-10 w-5 flex-col items-center justify-center text-center"
        ><img
          src="{{url_for('static', filename='icons/status-updates.png')}}"
          alt=""
        />
        <span>Status Updates</span>
      </a>
    </li>
    <li>
      <a
        href=""
        class="flex h-10 w-5 flex-col items-center justify-center text-center"
        ><img
          src="{{url_for('static', filename='icons/document-management.png')}}"
          alt=""
        />
        <span>Document Management</span>
      </a>
    </li>
  </ul>
</nav>
