{% extends 'base.html' %} {% block title %} Shipment Booking {% endblock %} {%
block content %}
<div class="w-screen p-10">
  <h1 class="text-center text-2xl font-bold">Create a New Booking</h1>
  <!-- Display Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="flash-message m-5">
    {% for category, message in messages %} {% if category == "success" %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %} {% if category == "danger" %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %} {% endfor %}
  </div>
  {% endif %} {% endwith %}
  <form method="post" action="" class="flex flex-col items-center">
    {{ form.hidden_tag() }}
    <!-- CSRF protection token -->
    <div class="booking-form">
      <div class="form-group">
        {{ form.shipping_company.label(class="form-label") }} {{
        form.shipping_company(class="form-control") }} {% for error in
        form.shipping_company.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.sender_name.label(class="form-label") }} {{
        form.sender_name(class="form-control") }} {% for error in
        form.sender_name.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.sender_address.label(class="form-label") }} {{
        form.sender_address(class="form-control") }} {% for error in
        form.sender_address.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.consignee.label(class="form-label") }} {{
        form.consignee(class="form-control") }} {% for error in
        form.consignee.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.consignee_address.label(class="form-label") }} {{
        form.consignee_address(class="form-control") }} {% for error in
        form.consignee_address.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.package_type.label(class="form-label") }} {{
        form.package_type(class="form-control") }} {% for error in
        form.package_type.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.weight.label(class="form-label") }} {{
        form.weight(class="form-control") }} {% for error in form.weight.errors
        %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.dimensions.label(class="form-label") }} {{
        form.dimensions(class="form-control") }} {% for error in
        form.dimensions.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.shipping_date.label(class="form-label") }} {{
        form.shipping_date(class="form-control") }} {% for error in
        form.shipping_date.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.delivery_date.label(class="form-label") }} {{
        form.delivery_date(class="form-control") }} {% for error in
        form.delivery_date.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.shipping_method.label(class="form-label") }} {{
        form.shipping_method(class="form-control") }} {% for error in
        form.shipping_method.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.insurance.label(class="form-label") }}
        <div class="form-control flex items-center gap-5">
          {{ form.insurance(class="form-control") }} {% for error in
          form.insurance.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
          <p>Is Insured?</p>
        </div>
      </div>
      <div class="form-group">
        {{ form.declared_value.label(class="form-label") }} {{
        form.declared_value(class="form-control") }} {% for error in
        form.declared_value.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.special_instructions.label(class="form-label") }} {{
        form.special_instructions(class="form-control") }} {% for error in
        form.special_instructions.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.bill_of_lading.label(class="form-label") }} {{
        form.bill_of_lading(class="form-control") }} {% for error in
        form.bill_of_lading.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.carting_point.label(class="form-label") }} {{
        form.carting_point(class="form-control") }} {% for error in
        form.carting_point.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.cbm.label(class="form-label") }} {{
        form.cbm(class="form-control") }} {% for error in form.cbm.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.cha.label(class="form-label") }} {{
        form.cha(class="form-control") }} {% for error in form.cha.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.clearance_place.label(class="form-label") }} {{
        form.clearance_place(class="form-control") }} {% for error in
        form.clearance_place.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.co_loader.label(class="form-label") }} {{
        form.co_loader(class="form-control") }} {% for error in
        form.co_loader.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.container_stuffing.label(class="form-label") }} {{
        form.container_stuffing(class="form-control") }} {% for error in
        form.container_stuffing.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.file_reference_number.label(class="form-label") }} {{
        form.file_reference_number(class="form-control") }} {% for error in
        form.file_reference_number.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.forwarder.label(class="form-label") }} {{
        form.forwarder(class="form-control") }} {% for error in
        form.forwarder.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.fpod.label(class="form-label") }} {{
        form.fpod(class="form-control") }} {% for error in form.fpod.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.gross_weight.label(class="form-label") }} {{
        form.gross_weight(class="form-control") }} {% for error in
        form.gross_weight.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.invoice_currency.label(class="form-label") }} {{
        form.invoice_currency(class="form-control") }} {% for error in
        form.invoice_currency.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.invoice_currency_value.label(class="form-label") }} {{
        form.invoice_currency_value(class="form-control") }} {% for error in
        form.invoice_currency_value.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.invoice_type.label(class="form-label") }} {{
        form.invoice_type(class="form-control") }} {% for error in
        form.invoice_type.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.item_description.label(class="form-label") }} {{
        form.item_description(class="form-control") }} {% for error in
        form.item_description.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.job_type.label(class="form-label") }} {{
        form.job_type(class="form-control") }} {% for error in
        form.job_type.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.nature_of_contract.label(class="form-label") }} {{
        form.nature_of_contract(class="form-control") }} {% for error in
        form.nature_of_contract.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.nature_of_payment.label(class="form-label") }} {{
        form.nature_of_payment(class="form-control") }} {% for error in
        form.nature_of_payment.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.net_weight.label(class="form-label") }} {{
        form.net_weight(class="form-control") }} {% for error in
        form.net_weight.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.number_of_packages.label(class="form-label") }} {{
        form.number_of_packages(class="form-control") }} {% for error in
        form.number_of_packages.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.operation_handle_by.label(class="form-label") }} {{
        form.operation_handle_by(class="form-control") }} {% for error in
        form.operation_handle_by.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.plan_date.label(class="form-label") }} {{
        form.plan_date(class="form-control") }} {% for error in
        form.plan_date.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.pod.label(class="form-label") }} {{
        form.pod(class="form-control") }} {% for error in form.pod.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.pol.label(class="form-label") }} {{
        form.pol(class="form-control") }} {% for error in form.pol.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.por.label(class="form-label") }} {{
        form.por(class="form-control") }} {% for error in form.por.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.remarks.label(class="form-label") }} {{
        form.remarks(class="form-control") }} {% for error in
        form.remarks.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.sales_person_name.label(class="form-label") }} {{
        form.sales_person_name(class="form-control") }} {% for error in
        form.sales_person_name.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.select_job.label(class="form-label") }} {{
        form.select_job(class="form-control") }} {% for error in
        form.select_job.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.series.label(class="form-label") }} {{
        form.series(class="form-control") }} {% for error in form.series.errors
        %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.shipper_or_exporter.label(class="form-label") }} {{
        form.shipper_or_exporter(class="form-control") }} {% for error in
        form.shipper_or_exporter.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.shipping_line.label(class="form-label") }} {{
        form.shipping_line(class="form-control") }} {% for error in
        form.shipping_line.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.type_of_shipment.label(class="form-label") }} {{
        form.type_of_shipment(class="form-control") }} {% for error in
        form.type_of_shipment.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.unit_type.label(class="form-label") }} {{
        form.unit_type(class="form-control") }} {% for error in
        form.unit_type.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.unit.label(class="form-label") }} {{
        form.unit(class="form-control") }} {% for error in form.unit.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group">
      {{ form.submit(class="button booking-submit") }}
    </div>
  </form>
</div>
{% endblock %}
