{% extends 'base.html'%} {% block title %} login {% endblock %} {% block content
%}
<div class="flex h-screen w-screen items-center justify-center">
  <div>
    <div class="h-40 w-40">
      <img src="{{url_for('static',filename='icons/profile.png')}}" alt="" />
    </div>
    <div class="flex h-10 items-center justify-center gap-5 bg-gray-100">
      <div class="w-10">
        <img src="{{url_for('static',filename='icons/user.png')}}" alt="" />
      </div>
      {{form.username(class="form-control rounded-none border-0")}}
    </div>
  </div>
</div>
{%endblock%}
