{% extends 'base.html' %} {% block title %}Unauthorised{% endblock %}{% block
content %}
<!-- Display Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div class="flash-message m-5">
  {% for category, message in messages %} {% if category == "success" %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endif %} {% if category == "danger" %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endif %} {% endfor %}
</div>
{% endif %} {% endwith %}
<div class="text-center">
  <h1 class="mt-52 text-4xl font-extrabold">UnAuthorised</h1>
  <p>you don't have permission for this url...</p>
  <p>Please contact admin</p>
</div>
{% endblock %}
